@media screen and (max-width: 1400px) {
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1320px) {
  #desktop-nav {
    display: none;
  }
  .skills {
    justify-content: center;
  }
  #hamburguer-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    display: flex;
    justify-content: center;
  }
  .about-containers {
    margin-top: 0;
    justify-content: center;
  }
  #projects .details-container {
    min-width: -webkit-fill-available;
    max-width: 800px;
  }
  #projects .article-container img {
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 92vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  .hamburguer-menu {
    width: fit-content;
    justify-content: center;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.25rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  #projects .details-container {
    min-width: -webkit-fill-available;
    max-width: 300px;
  }
  #projects .article-container img {
    align-items: center;
  }
  #socials-container {
    margin-bottom: 10px;
  }
  .skills {
    display: flex;
    font-size: 1rem;
    height: 10px;
  }
  .skills li img {
    height: 2.5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-right: 30px;
    gap: 2rem;
  }
}

@media screen and (max-width: 300px) {
  #profile {
    height: 100vh;
    margin-bottom: 0;
  }
  .skills {
    display: flex;
    font-size: 1rem;
    height: 10px;
  }
  .skills li img {
    height: 0.7rem;
    gap: 2rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  #socials-container {
    margin-bottom: 30px;
  }
  #projects .details-container {
    min-width: 200px !important;
    max-width: 400px !important;
  }
  #projects .article-container img {
    align-items: center;
  }
  #contact,
  footer {
    height: 40vh;
  }
  .contact-info-upper-container {
    width: 85vw;
  }
  .contact-info-container p a {
    font-size: 0.9rem;
  }
}
@media screen and (max-height: 600px) {
  #profile {
    height: 120vh;
    margin-bottom: 0;
  }
  .skills {
    display: flex;
    font-size: 1rem;
    height: 10px;
  }
  .skills li img {
    height: 2.5rem !important;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  #projects .article-container img {
    align-items: center;
  }
  #contact,
  footer {
    height: 40vh;
  }
}
